.adminStockDetails {
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px #0000008a;
    border-radius: 10px;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
}
.bg1 {
    box-shadow: 0px 0px 10px 0px #0000008a;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.length {
    font-size: 25px;
    font-weight: 800;
    background-color: orange;
    box-shadow: 0px 0px 10px 0px #4338388a;
    border-radius: 10px;
}

.header {
    font-size: 18px;
    /* color: white; */
    font-weight: 700;
    /* background-color: black; */
    /* box-shadow: 0px 0px 10px 0px #4338388a; */
}


.mdbtn{
    box-shadow: 0px 0px 10px 0px #4338388a;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 36, 36);
    text-decoration: none;
    font-size: 16px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: 700;
    
}
.mdbtn hover{
    box-shadow: 0px 0px 10px 0px #4338388a;
    width: 100%;
    background-color: rgb(236, 116, 4);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    font-weight: 800;

}

.title{
    /* font-size: 12px;
    font-weight: 300; */

}