.adminStockDetails {
    margin-right: 15px;
    box-shadow: 0px 0px 10px 0px #0000008a;
    border-radius: 10px;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
}
.bg1 {
    box-shadow: 0px 0px 10px 0px #0000008a;
    background-image: url("../assets/bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.length {
    font-size: 25px;
    font-weight: 800;
    background-color: orange;
    box-shadow: 0px 0px 10px 0px #4338388a;
    border-radius: 10px;
}

.header {
    font-size: 18px;
    /* color: white; */
    font-weight: 700;
    /* background-color: black; */
    /* box-shadow: 0px 0px 10px 0px #4338388a; */
}
